*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
}

body {
	background-color: #f5fbef;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

body, html{
	height: 100vh;
  	font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
	cursor: pointer;
	border: 0px;
}

input{
	background-color: transparent;
	text-align: end;
	width: 100%;
	color: #141212;
	border: 0px;
	font-size: 4rem;
}

#main {
	border: 2px solid #1b1a1a;
	border-radius: 50px;
	width: 100%;
	max-width: 280px;
	background-color: #d1dcb2;
	padding: 2rem 1rem;
}

.calculator_header {
	margin-top: 50px;
	padding: 12px;
}

.calculator_body > * + * {
	margin-top: 1rem;
}

.calculator_body > *:last-child {
	gap: 1rem;
}

.btn_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	color: #ffffff;
	font-size: 20px;
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.btn-grow {
	flex-grow: 1;
	border-radius: 40px;
}
  
.btn:hover {
	transform: translate(-2px, -3px);
}
  
.btn.active {
	background-color: #ffffff;
	color: #f69906;
}
  
.btn-white {
	background-color:#ededed;
	color: #000;
}
  
.btn-white:hover {
	background-color:#e7dede;
}
  
.btn-dark-brown{
	background-color: #313131;
}
 
.btn-dark-brown:hover {
	background-color: #f6eeee;
	color: #000;
}

.btn-orange {
	background-color: #f69906;
}

.btn-orange:hover {
	background-color: #f1c87d;
}
