@font-face {
	font-family: 'Roboto';
	src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

body
{
	font-family: 'Roboto', sans-serif;
}

#whole-page
{
	display: flex;
	flex-direction: column;
	align-items: center;

}

#first-container
{
	background-color: #1F2937;
 	margin: 40px;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 40px;
	width: 70%;
	height: 400px;
}

/* styling the navigation */ 
.navbar
{
	display: flex;
	justify-content: space-between;
	margin-right: 50px;
	margin-left: 50px;
}

/* for the bullet points */ 
.nav-list
{
	list-style: none;
}

/* each item in the navigation */ 
.nav-list .list-item
{
	display: inline-block;
	padding: 5px;
}

.navbar a
{
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.navbar a:hover
{
	color: aquamarine;
}

.logo 
{
	font-size: 24px;
	font-weight: 600;
	color: #F9FAF8;
}

.main
{
	display: flex;
	justify-content: space-between;

}

.main-text 
{
	padding: 25px;
	margin-left: 20px;
}

.main h2
{
	font-size: 40px;
	font-weight: 700;
	color: #F9FAF8;
	margin-bottom: auto;
}

.main-text p
{
	font-size: 18px;
	color: #E5E7EB;
	margin-top: auto;
}

.main button {
	color: #F9FAF8;
	background-color: #3882F6;
	font-weight: 600;
	padding: 7px 30px;
	border-radius: 7px;
	border: none;
}

.main-img
{
	background: grey;
	padding: 65px;
	margin: 60px;
	width: 70%;
	height: 50px;
	text-align: center;
}

.main-img p {
	color: #E5E7EB;
}


/* second part */
.second-h
{
	color: #1F2937;
	font-size: 36px;
	font-weight: 800;
}

#second-container
{
	display: flex;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
	width: 70%;
	height: 200px;
	padding-left: 70px;
	padding-right: 60px;
}

.box
{
	width: 30%;
}

.box-item 
{
	width: 35%;
	height: 80px;
	background: #fff;
	border-radius: 10px;
	padding-left: 10px;
	border: 3px solid;
	border-color: #3882F6;
}

.box p{
	padding-left: 3px;
	padding-right: 50px;
	margin-right: 70px;
	margin-top: 4px;
	font-size: 10px;
}


/* third part */
#third-part{
	text-align: center;
	background-color: #E5E7EB;
	margin: 40px;
	padding: 50px;
	width: 70%;
	height: 300px;
}

.info
{
	padding: 20px 80px;
}

.info p{
	font-size: 36px;
	color: #1F2937;
	font-style: light italic;
	text-align: left;
	font-style: italic;
	
}

.strong
{
	text-align-last: right;
}

/*fourth-time*/
#fourth-part{
	background-color: #3882F6;
	margin: 40px;
	display: flex;
	justify-content: center;
	width: 60%;
	height: 120px;
}

.action-text{
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	margin-top: 10px;
}

.action-text p {
	margin: auto;
}

.action-text h2 {
	margin-bottom: auto;
}

.action-btn{
	margin: 40px;
	background-color: #3882F6;
	border-width: 2px;
	border-color: #fff;
	color: #fff;
	padding: 7px 30px;
	border-radius: 7px;
}

/* footer */
#footer{
	background-color: #1F2937;
	padding: 20px 20px;
	width: 70%;
	margin: 40px;
	height: 30px;
}

.footer-text{
	color: #fff;
	text-align: center;
}